---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  annotations:
    helm.sh/resource-policy: keep
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tarantool-operator
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: tarantool-operator
  template:
    metadata:
      labels:
        name: tarantool-operator
      annotations:
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8383"
        prometheus.io/scrape: "true"
    spec:
      serviceAccountName: tarantool-operator
      containers:
        - name: tarantool-operator
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          command:
            - tarantool-operator
          imagePullPolicy: IfNotPresent
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: tarantool-operator
              value: "tarantool-operator"
---
